<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Munchy Gourmet</h1>
                <h4 class="mb-5">Recommending System For FOODS !</h4>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form action="{{ url_for('show') }}" method="post">
                    <div class="form-row align-items-center">
                        <div class="col">
                            <select id="inputState" class="form-control" name="division">
                                {% for row in division %}
                                    <option value={{ row['area'] }}>{{ row['area'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <select id="inputState" class="form-control" name="category">
                                <option value="all">All</option>
                                {% for row in category %}
                                    <option value={{ row['category'] }}>{{ row.category }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <select id="inputState" class="form-control" name="month">
                                <option value="all">All</option>
                                {% for row in month %}
                                    <option value={{ row['month'] }}>{{ row.month }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-info mb-2">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>