{% extends "layout.html" %}
{% block content %}
    <header class="masthead2">
        <div class=""></div>
        <div class="container">
            <div class="row">
                <div class="col mx-auto">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h2 class="card-title">{{ detail[0]['reco']['shopName'] }}</h2>
                            <h6 class="card-subtitle mb-2 text-muted">{{ detail[0]['reco']['SDAddress'] }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{ detail[0]['reco']['SDTelephone'] }}</h6>
                            <div class='starrr'></div>
                            <h6 class="card-subtitle mb-2 text-muted">Price:{{ detail[0]['reco']['price'] }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">

        <div class="col">
            <br>
            <br>
            <h1> Review Link </h1>
            {% for row in reviews %}
                <p><a href="http://www.ipeen.com.tw/comment/{{ row['review']['reviewId'] }}">http://www.ipeen.com.tw/comment/{{ row['review']['reviewId'] }}</a>
                </p>
                {#                <p> http://www.ipeen.com.tw/comment/{{ row['review']['reviewId'] }}</p>#}
            {% endfor %}
        </div>
        <div class="col">
            <br>
            <br>
            <h1> You might also like</h1>
            <div class="card-deck">
                {% for row in relating %}
                    <a href="{{ url_for('res_detail', shopId=row['reco']['shopId']) }}">
                        <div class="card border-light">
                            <img src="http://lorempixel.com/220/150/food/{{ range(1, 10) | random }}/">
                            {#                            <img src="http://via.placeholder.com/220x150">#}
                            <div class="card-body">
                                <h6 class="card-title">{{ row['reco']['shopName'] }}</h6>

                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        $('.starrr').starrr({
            rating: {{ detail[0]['reco']['SDRate'] /10 }}
        })
    </script>
{% endblock %}